<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:usesCleartextTraffic="true"
        >
<service android:name=".src.LocationService" android:foregroundServiceType="location"/>
       <service
        android:name=".src.BubbleService"
        android:foregroundServiceType="specialUse">

        <property 
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" 
        android:value="By using a foreground service, we can ensure that the bubble remains visible and accessible to the user even when they switch to other apps."/>  <!-- optional -->
     </service>

    </application>

</manifest>
